<h2 id="table_of_contents">Table of Contents</h2>
<ol>
    <li> Overview
        <ul>
            <li>Why Ruby?</li>
            <li>Structure</li>
        </ul>
    </li>
    <li> Number Theory
        <ul>
            <li>Prime number generation and testing</li>
            <li>GCD, LCM and Euclid's algorithm</li>
            <li>Fibonacci and Factorial</li>
            <li>BigInteger Implementation</li>
            <li>Pseudo random number cycle finding</li>
            <li>Arithmetic without standard operators</li>
        </ul>
    </li>
    <li> Permutations and Combinations
        <ul>
            <li>Power set of a set of numbers</li>
            <li>Combinations of a string</li>
            <li>Combinations of valid parenthesis</li>
            <li>Score combinations</li>
        </ul>
    </li>

    <li> Bit Manipulation </li>
    <li> Arrays </li>
    <li> Matrices </li>
    <li> Stacks </li>
    <li> Queues </li>
    <li> Hash Tables </li>
    <li> Bloom Filters </li>
    <li> Sorting </li>
    <li> Searching </li>
    <li> Linked Lists </li>
    <li> Trees </li>
    <li> Heaps </li>
    <li> Strings </li>
    <li> Suffix Trees </li>
    <li> Recursion and Backtracking </li>
    <li> Order Statistics </li>
    <li> Dynamic Programming </li>
    <li> Graph Theory </li>
    <li> System Design </li>
</ol>

<hr>