<h2 id="table_of_contents">Table of Contents</h2>
<ol>
    <li> Overview </li>
    <li> Number Theory </li>
    <li> Permutations and Combinations </li>
    <li> Bit Manipulation </li>
    <li> Arrays </li>
    <li> Matrices </li>
    <li> Strings </li>
    <li> Stacks & Queues </li>
    <li> Hash Tables </li>
    <li> Sorting </li>
    <li> Searching </li>
    <li> Linked Lists </li>
    <li> Bloom Filters </li>
    <li> Suffix Trees </li>
    <li> Recursion & Backtracking </li>
    <li> Order Statistics </li>
    <li> Dynamic Programming </li>
    <li> Trees </li>
    <li> Heaps </li>
    <li> Graph Theory </li>
    <li> System Design </li>
</ol>

<hr>